<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CCNetConfig.BugTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="CCNetConfigConfiguration" type="CCNetConfig.Core.Configuration.Handlers.CCNetConfigConfigurationSectionHandler, CCNetConfig.Core"/>
  </configSections>

  <applicationSettings>
    <CCNetConfig.BugTracking.Properties.Settings>
      <setting name="CCNetConfig_BugTracking_org_ccnetconfig_services_BugTracker"
                serializeAs="String">
        <value>http://services.ccnetconfig.org/bugtracker.asmx</value>
      </setting>
    </CCNetConfig.BugTracking.Properties.Settings>
  </applicationSettings>

  <CCNetConfigConfiguration>
    <Files>
      <File Name="Contributors" Path="Data\Contributors.config" />
      <File Name="BugTracking" Path="Data\BugTracking.config" />
      <File Name="UpdaterConfiguration" Path="Data\UpdaterConfiguration.config" />
      <File Name="CCNetVersions" Path="Data\CCNetVersions.config" />
      <File Name="AdditionalModules" Path="Data\Modules.config" />
    </Files>
  </CCNetConfigConfiguration>

</configuration>